{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <h1>Nos produits phares</h1>

    <div class="row">
    {% for p in products %}
        <div class="col">
            <div class="card">
                <img src="{{p.mainPicture}}" class="img-fluid" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{p.name}} ({{p.price / 100}}€)</h4>
                    <span class="badge bg-info text-dark">{{p.category.name}}</span>
                    <p class="card-text">{{p.shortDescription}}</p>
                    <a href="#" class="btn btn-primary btn-sm">Détails</a>
                    <a href="#" class="btn btn-success btn-sm">Ajouter</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <hr>
    <h2>Un service irreprochable</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, quia?</p>
    
    <div class="row">
        {% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'texte': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sint odio reiciendis inventore natus fugiat.'
        } %}

        {% include "shared/_assurance.html.twig" with {
            'color': 'success',
            'icone': 'fas fa-check',
            'texte': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sint odio reiciendis inventore natus fugiat.'
        } %}

        {% include "shared/_assurance.html.twig" with {
            'color': 'warning',
            'icone': 'fas fa-lock',
            'texte': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sint odio reiciendis inventore natus fugiat.'
        } %}
    </div>
{% endblock %}

